/*
 * Copyright (C) 2018 bsyonline
 */
package com.rolex.test.*;


/**
 * @author rolex
 * @since 2018
 */
@Data
public class ${entityName} {

#foreach($property in $propertyList)
#if (${property.primaryKey})
    @Id
#end
    private ${property.type} ${property.name};
#end

}